OPENAI_API_KEY=coloca_aqui_tu_clave
OPENAI_TRANSCRIPTION_MODEL=gpt-4o-mini-transcribe
OPENAI_FORMAT_MODEL=gpt-4.1-mini
TRANSCRIPTION_PROVIDER=openai
GOOGLE_APPLICATION_CREDENTIALS=C:\ruta\a\service-account.json
GOOGLE_CLOUD_PROJECT=tu-proyecto-google
GOOGLE_SPEECH_LOCATION=us
GOOGLE_SPEECH_MODEL=chirp_3
GOOGLE_SPEECH_LANGUAGE=es-US
FFMPEG_PATH=C:\ruta\a\ffmpeg.exe
PORT=4311
PRECIO_API_TOKEN=token_de_pmedia
